.container {
    padding: 20px;
    gap: 20px;
    display: grid;
}

.inputBox {
    display: flex;
    flex-direction: column;
}

.inputBox input {
    border: 1px solid;
    padding: 0.6rem 0.7rem;
    float: left;
    font-size: 0.8rem;
    margin: 5px 0;
    width: 80%;
    transition: 0.3s;
    outline: none;
    border-radius: 3px;
}

.inputBoxWithButton {
    display: flex;
    gap: 10px;
}

.inputBoxWithButton button{
    padding: 0.6rem 1rem;
    margin: 5px;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.btn {
    padding: 0.6rem 1rem;
    background-color: var(--dark-gray);
    font-size: 1rem;
    font-weight: 400;
    color: white;
    border-radius: 4px;
    transition: 0.4s;
    box-shadow: var(--main-box-shadow);
    cursor: pointer;
    text-align: center;
}
.btn:hover {
    filter: brightness(85%);
}
  
:root {
    --primary-color: rgb(97, 1, 238);
    --secondary-color: rgb(102, 102, 102);
    --success-color: rgb(25, 135, 83);
    --warning-color: rgb(255, 192, 7);
    --danger-color: rgb(220, 52, 68);
    --light-purple: rgb(219, 196, 253);
    --light-blue: rgb(16, 202, 240);
    --light-gray: rgb(210, 210, 210);
    --dark-gray: rgb(75, 75, 75);
    --main-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --dark-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}