.Container {
  color: white;
  font-size: 65px;
  width: 50vw;
}

.Clock {
  text-align:left;
  width: 100%;
  margin: 0;
  color:#fff;
  border-left: 3px solid #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: baseline;
  justify-content: flex-start;
  align-items: flex-start;
}

.Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.TimeRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-start;
  align-items: center;
  font-family: "Helvetica Neue";
  color: white;
  font-size: 15vw;
  letter-spacing: -1px;
  line-height: 1;
  margin: 0;
  gap: 15px;
}